h1{
  color:#93FFE8;
}
h2{
  color:#ADD8E6;
  margin-left: 3em;
}
body{
  padding:3em;
}
a {
  color: hotpink;
}
a:hover{
  color:red;
}
ul{
  font-size:16pt;
}
p{
  font-size:16pt;
}

ul.stormy {
  color:#ADD8E6;
}

h2.headcolor {
  color: blue;
}

ul.duck {
  color: blue;
}

.wrap {
  width: 50%;
}
